@model DotNetCoreSqlDb.Models.EMASignal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EMASignal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Simbol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Simbol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Signal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Signal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SignalDatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SignalDatetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
